{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{{ url_logo }}
{% block content %}
  <div class="row mt-4 login-form">
    <div class="col-4 mx-auto">
      <div class="card bg-light">
        <h5 class="card-header custom-bg-primary">
          <div class="row">
            <div class="col-md-12">
              <img class="logo" src="{% get_param program_code='' code='url_login_logo' static='yes' %}" alt="">
            </div>
            <div class="col-md-12">
              <div class="description">
                {% get_param program_code='' code='site_description' %}
              </div>
            </div>
          </div>
        </h5>
        <div class="card-body">
          <form action="{{ app_path }}" method="post">
            {% csrf_token %}
            {% form_as_bootstrap4 form=form %}
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-sign-in-alt"></i> {% get_param program_code='' code='txt_login' default_text='Login' %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
