{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Cambiar Contraseña{% endblock %} {% block content %}

<div class="row mt-4 login-form">
    <div class="col-6 mx-auto">
      <div class="card bg-light">
        <h5 class="card-header custom-bg-primary">
          <div class="row">
            <div class="col-md-12">
              <div class="description">
                  <h5>
                      <a class="btn btn-outline-light d-inline-block btn-sm" href="{% url 'self-user-detail' %}">
                          <i class="fas fa-user"></i>
                      </a>
                      Formulario cambio de contraseña</h5>
              </div>
            </div>
          </div>
        </h5>
        <div class="card-body">
            {% if messages %}

            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span {% if message.tags %} class="{{ message.tags }}"{% endif %} aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% endif %}
          <form method="post">
            {% csrf_token %}
            {% form_as_bootstrap4 form=form %}
            <button type="submit" class="btn btn-primary" id="save-button">Cambiar</button>
          </form>
      </div>
    </div>
  </div>
</div>
<script>
  var start = function() {
    var saveBtn = document.getElementById('save-button');
    saveBtn.disabled = true;
    
    var p = document.getElementById('id_old_password');
    var p1 = document.getElementById('id_new_password1');
    var p2 = document.getElementById('id_new_password2');
    
    p.placeholder = 'Ingrese contraseña antigua';
    p1.placeholder = 'Ingrese contraseña nueva';
    p2.placeholder = 'Confirme contraseña';

    var contHelpText = document.querySelectorAll('.helptext')[0];

    var samePassText = document.createTextNode('Las contraseñas deben ser iguales.');
    var samePass = document.createElement('li');
    samePass.appendChild(samePassText);
    

    var list = contHelpText.childNodes[0];
    var n = 0;

    list.childNodes.forEach(function(e) {
      e.className = 'help-' + n;
      n++;
    });
    
    samePass.className = 'help-' + n;
    list.appendChild(samePass);

    var lenText = document.querySelectorAll('.help-1')[0];
    var onlyNumText = document.querySelectorAll('.help-3')[0];
    
    // change p1
    var fn = function(event) {
      var text = event.target.value;
      var len = 8;
      saveBtn.disabled = true;
      
      var isNumTest = false;
      var isLen = false;

      if(text.length < len) {
        lenText.style.display = 'block';
      } else {
        lenText.style.display = 'none';
        isLen = true;
      }

      var isnum = /^\d+$/.test(text);
      
      if(isnum) {
        onlyNumText.style.display = 'block';
      } else {
        onlyNumText.style.display = 'none';
        isNumTest = true;
      }

      var isSame = false;

      if(p1.value === p2.value) {
        isSame = true;
        samePass.style.display = 'none';
      } else {
        samePass.style.display = 'block';
      }

      if(isLen && isNumTest && isSame) {
        saveBtn.disabled = false;
      }
    };

    p1.addEventListener('input', fn);
    p2.addEventListener('input', fn);

  }
  start();
</script>
{% endblock %}