html, body {
  background: #ffffff;
}
.subnav {
  background: #f4f4f4;
  padding: 5px 15px;
  color: #212121;
  border-bottom: solid 1px #dfdfdf;
}
.subnav > * {
  display: inline-block;
}

.subnav .nav-link {
    padding: 0 1rem;
}

.main-section{
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px auto;
}
.profile-header{
	background-color: #f8f9fa;
	height:90px;
}
.user-detail{
	margin:-50px 0px 30px 0px;
}
.user-detail img{
	height:100px;
	width:100px;
}
.user-detail h5{
	margin:15px 0px 5px 0px;
}
.user-social-detail{
	padding:15px 0px;
	background-color: #f8f9fa;
}
.user-social-detail a i{
	color:#fff;
	font-size:23px;
	padding: 0px 5px;
}

.user-profile-permision-box {
  margin: 15px -30px 0px -30px;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  border-top: solid 1px #dfe0e1;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #dfdfdf;
}

.bg-gradient {
  background: #dc3545;
  background: -moz-linear-gradient(left, #dc3545 0%, #ffc107 50%, #28a745 100%);
  background: -webkit-linear-gradient(left, #dc3545 0%,#ffc107 50%,#28a745 100%);
  background: linear-gradient(to right, #dc3545 0%,#ffc107 50%,#28a745 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3545', endColorstr='#28a745',GradientType=1 );
}

.breadcrumb {
  margin-bottom: 1rem;
  list-style: none;
  background-color: #dfdfdf;
  border-radius: 0;
  margin: 0px -15px 15px -15px;
}

.readonly {
  pointer-events: none;
}

/* Timeline */
.timeline {
  padding-left: 20px;
  border-left: solid 2px #55a746;
}

.timeline .card {
  margin-bottom: 15px;
  position: relative;
}

.timeline .card::before {
  display: block;
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #d8d8d8;
  transform: rotate(45deg);
  top: 13px;
  left: -29px;
  border-radius: 50%;
  background: #ffffff;
  border: solid 2px #55a746;
}

.timeline .arrow-left {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #dfdfdf;
  position: absolute;
  top: 13px;
  left: -8px;
}

.timeline .card .arrow-left::after {
  display: block;
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #ffffff;
  transform: rotate(45deg);
  top: -7px;
  left: 4px;
}

.list-group-vertical {
  margin: 5px 0 0 0;
  padding: 0;
}

.list-group-vertical > * {
  display: inline-block;
  border: solid 1px #047afb;
  background: white;
  color: #047afb;
  padding: 5px 10px;
  border-radius: 18px;
}

.o-hidden {
  overflow: hidden;
}

.txt-thin {
  font-weight: 200;
}
.txt-right {
  text-align: right;
}

/* .skills-graph {
  
} */

.skills-graph {
  border: 1px solid rgb(223, 223, 223);
  overflow-x: auto;
  margin: 15px;
  border-radius: 5px;
  overflow-y: hidden;
  text-align: center;
  /* background-image: repeating-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 19px, rgb(223, 223, 223) 0px, rgb(223, 223, 223) 20px); */
}
.skills-graph > * {
  padding: 15px 0;
  margin: 0px 15px;
  position: relative;
}
.skills-graph a {
  background: #00000061;
  color: white;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skills-graph > div > div > div.percent-bar {
  transition: .2s all ease;
  border-radius: 0;
  outline: solid #00000069 1px;
}

.skills-graph > div > div > div.percent-bar:hover {
  opacity: .8;
}

.skills-graph > div > div > div > div {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  font-weight: 800;
  font-size: 18px;
  color: #4db7e9;
}
.skills-graph > div > div > div > a {
  text-decoration: none;
}
.skills-graph > div > div > div > a:hover {
  text-decoration: none;
  transition: .2s all ease;
  overflow: hidden;
  outline: none;
  background: #0000008f;
  color: #ffffff;
}
/* .skills-graph > div > div > div:hover {
  outline: solid 1px #00000087;
} */

.skills-graph > div > div > div > div:first-child {
  width: 100%;
}

.skills-graph .save-button-hidden {
  display: none;
}
.skills-graph .percent-value {
  position: absolute;
  height: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px #dfdfdf;
  margin-bottom: -1px;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
 .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* Claudio.dcv */
.row-eq-height > * > * {
  height: 100%;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
/* [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
} */

/*
 * Callout styles copied from Bootstrap's main docs.
 */
/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}


.cont-center {
  text-align: center;
}

.cont-center > * {
  margin: auto !important;
  float: none !important;
}


/*****************************************
  upload button styles
******************************************/
.file-upload {
	position: relative;
  display: inline-block;
  cursor: pointer;
}

.file-upload label {
  margin: 0;
  border-radius: 5px 0 0 5px;
}
.file-upload-input {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.file-upload:hover label {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #222;
  border-radius: .4em;
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:100%;
    height: 100%;
    opacity: 0;
}


.helptext {

}

.helptext ul {
  border: solid 1px #1565C0;
  font-size: 12px;
  padding: 5px 10px;
  margin: 15px auto;
  background: #dbeaff;
  border-radius: 5px;
  color: #1565C0;
}

.helptext ul li {
  margin: 0;
  padding: 2px 0;
  display: block;
  border-bottom: solid 1px #d9dadb;
}

.image-td {
  padding-right: 5px !important;
}
.profile-min-image {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  border: solid 2px #ffffff;
  box-shadow: 0px 0px 0px 2px #d8d8d8;
  display: inline-block;
}

td, th {
  vertical-align: middle !important;
}

.progress-bar {
  white-space: nowrap;
  text-shadow: 0px 0px 2px black;
}

.page-item.active .page-link.bg-dark.text-white {
  z-index: 1;
  color: #343a40!important;
  background: white!important;
  border-color: #ffffff!important;
}
.pagination.pagination-sm {
  margin: 0;
}

.accordion {}
.accordion .card{
  cursor: pointer;
  border-radius: 0;
  overflow: hidden;
  border: none;
}

.accordion .card h6 {
  margin: 0;
}

.accordion .card .card-header {
  padding: 5px 15px;
}

.accordion .card p {
  margin: 0;
}

.accordion .card .list-group-flush .list-group-item {
  padding: 5px 15px;
}

.accordion .card .c100.xs {
  font-size: 40px;
}

.accordion .card:not(.collapsed){
  background-color: #e8f0fe;
}

.accordion .card:hover{
  background-color: whitesmoke;
}

.accordion .card:hover h6,
.accordion .card:not(.collapsed) h6{
  color: #4284f4;
}

.accordion .card:not(.collapsed):hover {
  background-color: #e8f0fe;
}

.accordion .card:first-child{
  border-radius: 0px 0px 0 0;
  border-top: 1px solid rgba(0,0,0,.125);
}
.accordion .card:last-child{
  border-radius: 0 0 0px 0px;
}
.accordion {}
.accordion .list-group-item:hover{
  padding: 5px 15px;
  background-color: #f8fbff;
  border-bottom: solid 1px #d8d8d8;
}

.desc.orderable,
.asc.orderable {
  position: relative;
  padding-right: 26px;
}
.orderable:before {
  display: block;
  width: 15px;
  height: 23px;
  position: absolute;
  right: 5px;
  top: 0px;
  bottom: 0;
  font-size: 14px;
  margin: auto;
}
.asc.orderable:before {
  content: "▼";
}

.desc.orderable:before {
  content: "▲";
}

.text-description{
  font-size: 12px;
  font-weight: 100;
  margin: 6px 0;
  line-height: 1.5;
}