{% extends 'base.html' %}

{% load static %}


{% block subheader %}
<div class="subnav">
    {% include "subnav.html" %}
</div>
{% endblock %}


{% block title %}Home{% endblock %}

{% block content %}

{% load i18n %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'program-index' code profile period %}">Programa ({{ program.name }})</a></li>
    </ol>
</nav>


<div class="card mb-4 bg-light text-dark">
    <div class="card-body">
        <form action="" method="get" class="form-inline">
            <div class="form-group">
              <label for="staticQ mr-2">Buscar (Nombre y/o Apellido)</label>
              <input type="text" name="q" value="{{q}}" id="q" class="form-control-sm form-control mx-2">
              <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fas fa-search"></i>
              </button>
            </div>
        </form>
        <hr />
        <div>
            <div class="pull-right">
                <a class="btn btn-success btn-sm" href="{% url 'student-masive-insert' code profile %}">Carga Masiva</a>
            </div>
        </div>
    </div>
  </div>
  
  {% if q != ''%}
  <div class="row">
    <div class="col-12">
      Resultados para <strong>{{ q }}</strong>
    </div>
  </div>
  {% endif %}


<div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">ESTUDIANTES</h5>
        <div>
          <div class="table-responsive table-sm">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col"> 
                      {% if order_by == 'first_name,last_name'%}
                        <a href="{{ querystring_order_by }}=-first_name,-last_name">#</a>
                      {% elif order_by == '-first_name,-last_name' %}
                        <a href="{{ querystring_order_by }}=first_name,last_name">#</a>
                      {% else %}
                        <a href="{{ querystring_order_by }}=first_name,last_name">#</a>
                      {% endif %}
                    </th>
                    
                  <th scope="col"> 
                      {% if order_by == 'email'%}
                        <a href="{{ querystring_order_by }}=-email">Email</a>
                      {% elif order_by == '-email' %}
                        <a href="{{ querystring_order_by }}=email">Email</a>
                      {% else %}
                        <a href="{{ querystring_order_by }}=-email">Email</a>
                      {% endif %}
                    </th>
  
                  <th scope="col"> 
                    {% if order_by == 'username'%}
                      <a href="{{ querystring_order_by }}=-username">Username</a>
                    {% elif order_by == '-username' %}
                      <a href="{{ querystring_order_by }}=username">Username</a>
                    {% else %}
                      <a href="{{ querystring_order_by }}=-username">Username</a>
                    {% endif %}
                  </th>
  
                  <th scope="col" class="txt-right">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                  <th scope="row">
                    <a href="{% url 'student-update' code profile student.id %}">
                      {{ student.first_name }} {{ student.last_name }}
                    </a>
                  </th>
                  <td>{{ student.email }}</td>
                  <td>{{ student.username }}</td>

                  <td class="txt-right">
                    <a href="{% url 'student-update' code profile student.id %}" class="btn btn-success btn-sm">
                      <i class="fas fa-eye"></i> Ver
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>





<div class="row">
    <div class="col-12 mb-4">
  
  <nav aria-label="paginator">
      <ul class="pagination pagination-sm">

        {% if paginator.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{ querystring_page }}=1"><i class="fas fa-angle-double-left"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ querystring_page }}={{ paginator.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        </li>
        {% endif %}

        {% for pg in page_range %}
            {% if paginator.number == pg %}
                <li class="page-item active"></liclass><a href="{{ querystring }}" class="page-link">{{pg}}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="page-item"></li><a href="{{ querystring_page }}={{pg}}" class="page-link">{{pg}}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.has_next %}
        <li class="page-item">

          <a class="page-link" href="{{ querystring_page }}={{ paginator.next_page_number }}"><i class="fas fa-angle-right"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ querystring_page }}={{ paginator.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>

        </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">{{ paginator.number }}/{{ paginator.paginator.num_pages }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<script>

    function SetCaretAtEnd(elem) {
        var elemLen = elem.value.length;
        // For IE Only
        if (document.selection) {
            // Set focus
            elem.focus();
            // Use IE Ranges
            var oSel = document.selection.createRange();
            // Reset position to 0 & then set at end
            oSel.moveStart('character', -elemLen);
            oSel.moveStart('character', elemLen);
            oSel.moveEnd('character', 0);
            oSel.select();
        }
        else if (elem.selectionStart || elem.selectionStart == '0') {
            // Firefox/Chrome
            elem.selectionStart = elemLen;
            elem.selectionEnd = elemLen;
            elem.focus();
        } // if
    } //
    SetCaretAtEnd(document.getElementById('q'));
</script>
{% endblock %}