<ul class="nav">
  <!-- <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Evaluaciones</a>
  </li> -->
  <li class="nav-item">
    {% if period %}
      <a class="nav-link" href="{% url 'program-index' program.code 'student' period %}">Cursos</a>
    {% else %}
      <a class="nav-link" href="{% url 'program-index' program.code 'student' 0 %}">Cursos</a>
    {% endif %}
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'skill-index' program.code 'student' %}">Competencias</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> -->
</ul>
