{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  {% for o in user.user_profiles_program.all %}
  <div class="col-md-4 mt-2">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-graduation-cap"></i> {{ o.program.name }}
      </div>
      <ul class="list-group list-group-flush">
        {% for profile in o.profiles.all %}
          <li class="list-group-item">
            <div>
              <strong>{{ profile.name }}</strong>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-sm btn-link" href="{% url 'program-index' o.program.code profile.id %}">
                <i class="fas fa-book"></i> Cursos
              </a>
              <a class="btn btn-sm btn-link" href="{% url 'skill-index' o.program.code profile.id %}">
                <i class="fas fa-bolt"></i> Competencias
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
