{% extends 'base.html' %}

{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block subheader %}
  <div class="subnav">
    {% include "subnav.html" %}
  </div>
{% endblock %}

{% block title %}Curso ({{ course.name }}){% endblock %}

{% block content %}
{% if has_profile %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'program-index' code profile %}">Programa ({{ program.name }})</a></li>
    <li class="breadcrumb-item active" aria-current="page">Curso ({{ course.name }})</li>
  </ol>
</nav>

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">Curso: {{ object.name }}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Logro: {{ total_half_percent }}%</li>
        <li class="list-group-item">Indicadores: {{ total_indicators }}</li>
        <li class="list-group-item">
          Valores:
            min({{ score.min }}) max({{ score.max }}) posibles:[{% for sc in score.values %}
              {{ sc }}
        {% endfor %}]</li>
      </ul>
    </div>
  </div>
  <div class="col-12">
    <h6>Listado de Estudiantes</h6>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th>Indicadores Evaluados</th>
            <th scope="col">Logro</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students_with_indicator %}
          <tr>
            <th scope="row">{{ student.user.id }}</th>
            <td>{{ student.user.first_name }} {{ student.user.last_name }} ({{ student.user.username }})</td>
            <td>{{ student.user.email }}</td>
            <td>
              <div class="progress" style="height:20px">
                <div class="progress-bar" role="progressbar" style="width: {{ student.indicator_evaluated|unlocalize }}%;height:20px" aria-valuenow="{{ student.indicator_evaluated|unlocalize }}" aria-valuemin="0" aria-valuemax="100"> {{ student.indicator_evaluated }}%</div>
              </div>
            </td>
            <td>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ student.half_percent|unlocalize }}%;height:20px" aria-valuenow="{{ student.half_percent|unlocalize }}" aria-valuemin="0" aria-valuemax="100"> {{ student.str_half_percent }}%</div>
              </div>
            </td>
            <td><a href="{% url 'evaluated-evaluator-index' code profile object.id student.user.id %}" class="btn btn-primary btn-sm">Evaluar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% else %}
No posee permisos
{% endif %}


{% endblock %}
