{% extends 'base.html' %}

{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block subheader %}
  <div class="subnav">
    {% include "subnav.html" %}
  </div>
{% endblock %}

{% block title %}Curso ({{ course.name }}){% endblock %}

{% block content %}
{% if has_profile %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'program-index' code profile %}">Programa ({{ program.name }})</a></li>
    <li class="breadcrumb-item active" aria-current="page">Curso ({{ course.name }})</li>
  </ol>
</nav>

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">
        {% if request.user.is_superuser %}
        <a href="/admin/term/course/{{ object.id }}/change/"><i class="fas fa-pen-square"></i></a>
        {% endif %}
        <i class="fas fa-book"></i> CURSO {{ object.name }}
      </h5>
      <div class="card-body">
        {{ object.description }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Logro: {{ total_half_percent }}%</li>
        <li class="list-group-item">Indicadores: {{ total_indicators }}</li>
        <li class="list-group-item">
          Valores:
            min({{ score.min }}) max({{ score.max }}) posibles:[{% for sc in score.values %}
              {{ sc }}
        {% endfor %}]</li>
      </ul>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">
        LISTADO DE ESTUDIANTES
      </h5>
      <div>
        <div class="table-responsive">
          <table id="table-student" class="table table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th>Indicadores Evaluados</th>
                <th scope="col">Logro</th>
                <th scope="col" class="txt-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students_with_indicator %}
              <tr>
                <th scope="row">
                  {% if request.user.is_superuser %}
                  <a href="/admin/base/user/{{ student.user.id }}/change/">
                    <i class="fas fa-pen-square"></i>
                  </a>
                  {% endif %}{{ student.user.id }}
                </th>
                <td>{{ student.user.first_name }} {{ student.user.last_name }} ({{ student.user.username }})</td>
                <td>{{ student.user.email }}</td>
                <td>
                  <div class="progress" style="height:20px">
                    <div class="progress-bar" role="progressbar" style="width: {{ student.indicator_evaluated|unlocalize }}%;height:20px" aria-valuenow="{{ student.indicator_evaluated|unlocalize }}" aria-valuemin="0" aria-valuemax="100"> {{ student.indicator_evaluated }}%</div>
                  </div>
                </td>
                <td>
                  <div class="progress" style="height:20px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ student.half_percent|unlocalize }}%;height:20px" aria-valuenow="{{ student.half_percent|unlocalize }}" aria-valuemin="0" aria-valuemax="100"> {{ student.str_half_percent }}%</div>
                  </div>
                </td>
                <td class="txt-right">
                  <a href="{% url 'evaluated-evaluator-index' code profile object.id student.user.id %}" class="btn btn-light btn-sm">
                    <i class="fas fa-tasks"></i> Evaluar
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% else %}
No posee permisos
{% endif %}


{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
  // $('#table-student').dynatable();
} );
</script>
{% endblock %}
