{% extends 'base.html' %}

{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block subheader %}
  <div class="subnav">
  {% include "subnav.html" %}
  </div>
{% endblock %}

{% block title %}Evaluado ({{ object.first_name }} {{ object.last_name }}){% endblock %}

{% block content %}
{% if has_profile and course.id %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'program-index' code profile period %}">Programa ({{ program.name }})</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course-index' code profile course.id period %}">Curso ({{ course.name }})</a></li>
    <li class="breadcrumb-item active" aria-current="page">Evaluando a ({{ object.first_name }} {{ object.last_name }})</li>
  </ol>
</nav>

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">
        <span class="txt-thin"><i class="fas fa-tasks"></i> EVALUANDO A</span></h5>
      
        <div class="card-body">
        <table>
          <tr>
            <td class="image-td">
              {% if object.image_profile and object.image_profile != '1' %}
                <div class="profile-min-image" style="background-image: url({% get_media_prefix %}{{ object.image_profile }})"></div>
              {% else %}
                <div class="profile-min-image" style="background-image: url({% static 'img/profile-default.png' %})"></div>
              {% endif %}
            </td>
            <th scope="row">
              {% if request.user.is_superuser %}
              <a href="/admin/base/user/{{ object.id }}/change/">
                <i class="fas fa-pen-square"></i>
              </a>
              {% endif %}
              <div>{{ object.last_name}} <span class="txt-thin">{{ object.first_name }}</span></div>
              <span class="txt-thin">
                {{ object.email }}
              </span>
            </th>
          </tr>
        </table>
        </div>

      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              Progreso de evaluación ({{ evaluated.total_indicators }} Indicadores)
              <div class="progress" style="height:20px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: {{ evaluated.indicator_evaluated|unlocalize }}%;height:20px"
                  aria-valuenow="{{ evaluated.indicator_evaluated|unlocalize }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                > {{ evaluated.indicator_evaluated }}%</div>
              </div>
            </div>
              <div class="col-md-6">
                Nivel de logro
                  <div class="progress" style="height:20px">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: {{ evaluated.half_percent|unlocalize }}%;height:20px"
                      aria-valuenow="{{ evaluated.half_percent|unlocalize }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    > {{ evaluated.str_half_percent }}%
                  </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">
        <span class="txt-thin">
          <i class="fas fa-genderless"></i> INDICADORES</span>
      </h5>
      <div class="">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">Indicador</th>
                <th scope="col">Competencia</th>
                <th scope="col" class="txt-right">Nivel de Logro
                  <span class="txt-thin">
                      {% for desc in score_description %}
                        <div data-toggle="tooltip" class="badge badge-info" data-placement="top" title="{{desc.desc|safe}}">{{desc.val|safe}}</div>
                      {% endfor %}
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>

                {% for indicator in evaluated.indicator_merge_values %}
                <tr id="indicator-{{ indicator.id_eval }}">
                    <td style="max-width: 300px">
                      {% if request.user.is_superuser %}
                      <a href="/admin/core/indicator/{{ indicator.id_eval }}/change/">
                        <i class="fas fa-pen-square"></i>
                      </a>
                      {% endif %}
                      {{ indicator.name }}
                    </td>
                    <td>{{ indicator.skill__name }}</td>
                 </td>
                 <td class="txt-right">

                    {% if indicator.is_eval %}
                    <form
                        data-method="update"
                        class="finalindicatorevaluation-list-update d-inline-block"
                        style="width:100%"
                        action="{% url 'finalindicatorevaluation-list' %}"
                        method="post"
                      >
                        {% csrf_token %}
                        <input type="hidden" data-type="int" name="pk" value="{{ indicator.id_eval }}">
                        <input type="hidden" data-type="int" name="indicator" value="{{ indicator.id }}">
                        <input type="hidden" data-type="int" name="course" value="{{ course.id }}">
                        <input type="hidden" data-type="int" name="evaluated" value="{{ object.id }}">
                        <input type="hidden" data-type="int" name="evaluator" value="{{ request.user.id }}">
    
                        <div class="form-group">
                          <div class="">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              {% for sc in score.values %}
                              <label data-score-indicator="{{ indicator.indicator_id }}" class="btn btn-outline-success btn-sm{% if sc == indicator.value %} active{% endif %}">
                                <input
                                  type="radio"
                                  data-type="float"
                                  {% if sc == indicator.value %}checked{% endif %}
                                  name="value"
                                  id="option{{ sc }}"
                                  autocomplete="off"
                                  value="{{ sc }}"> {{sc}}
                              </label>
                              {% endfor %}
                            </div>
                            <!--<button id="save-indicator-{{ indicator.indicator_id }}" type="submit" class="btn-sm btn btn-success save-button save-button-hidden">
                              <i class="fas fa-save"></i>
                            </button>-->
                            <button
                              data-pk="{{ indicator.id_eval }}"
                              data-url="{% url 'finalindicatorevaluation-list' %}"
                              data-csrfmiddlewaretoken="{{ csrf_token }}"
                              class="btn-sm btn btn-link finalindicatorevaluation-list-delete"
                            /><i class="fas fa-trash-alt text-danger"></i></button>
                          </div>
                        </div>
                      </form>
                      {% else %}
                      <form
                        data-method="create"
                        class="finalindicatorevaluation-list-create"
                        action="{% url 'finalindicatorevaluation-list' %}"
                        method="post">
                        {% csrf_token %}
                        <input type="hidden" data-type="int" name="indicator" value="{{ indicator.id }}">
                        <input type="hidden" data-type="int" name="course" value="{{ course.id }}">
                        <input type="hidden" data-type="int" name="evaluated" value="{{ object.id }}">
                        <input type="hidden" data-type="int" name="evaluator" value="{{ request.user.id }}">
    
                        <div class="form-group">
                          <div class="">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              {% for sc in score.values %}
                              <label class="btn btn-outline-success btn-sm" data-score-indicator="{{ indicator.indicator_id }}">
                                <input data-type="float" type="radio" name="value" id="option{{ sc }}" required autocomplete="off" value="{{ sc }}"> {{sc}}
                              </label>
                              {% endfor %}
                            </div>
                            <!--<button id="save-indicator-{{ indicator.indicator_id }}" type="submit" class="btn-sm btn btn-success save-button save-button-hidden">
                              <i class="fas fa-save"></i>
                            </button>-->
                          </div>
                        </div>
                      </form>
                    {% endif %}
                 </td>
               </tr>

              
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
          <span>Descripción nivel de logro</span> 
          {% for desc in score_description %}
            <span class="badge badge-darkbadge badge-pill badge-light">{{desc.val|safe}} - {{desc.desc|safe}}</span>
          {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header text-dark bg-light">
        <span class="txt-thin"><i class="fas fa-comment"></i> FEEDBACK</span>
      </h5>
      <div class="card-body">
        <div class="timeline">
          {% for feedback in feedback_list %}
          <form
            method="post"
            class="card feedback-list-update"
            action="{% url 'feedback-list' %}"
          >
            <span class="arrow-left"></span>
            <div class="card-body">
              <h6 class="card-title">{{ feedback.evaluator.first_name }} {{ feedback.evaluator.last_name }} ({{ feedback.evaluator.email }})</h6>
              {% csrf_token %}
              <input type="hidden" data-type="int" name="pk" value="{{ feedback.id }}">
              <input type="hidden" data-type="int" name="course" value="{{ course.id }}">
              <input type="hidden" data-type="int" name="evaluated" value="{{ object.id }}">
              <input type="hidden" data-type="int" name="evaluator" value="{{ request.user.id }}">
              <input type="hidden" name="code" value="{{ code }}">
              <textarea
                class="form-control"
                name="message"
                required
                placeholder="Ingrese comentario"
              >{{ feedback.message }}</textarea>
            </div>
            <small class="card-footer text-muted">
              <div class="d-inline-block">
                <button class="btn btn-success btn-sm" type="submit" name="button"><i class="fas fa-save"></i> Actualizar</button>
                <button
                  data-code="{{ code }}"
                  data-pk="{{ feedback.id }}"
                  data-url="{% url 'feedback-list' %}"
                  data-csrfmiddlewaretoken="{{ csrf_token }}"
                  class="btn-sm btn btn-link feedback-list-delete"
                /><i class="fas fa-trash-alt text-danger"></i></button>
              </div>
              <div class="d-inline-block">
                {{ feedback.updated_ts|date:'Y-m-d H:i' }}
              </div>
            </small>
          </form>
          {% endfor %}
          <form
            method="post"
            class="card feedback-list-create"
            action="{% url 'feedback-list' %}"
          >
            <span class="arrow-left"></span>
            <div class="card-body">
              <h6 class="card-title"><small>Nuevo</small><br>{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.email }})</h6>
              {% csrf_token %}
              <input type="hidden" data-type="int" name="course" value="{{ course.id }}">
              <input type="hidden" data-type="int" name="evaluated" value="{{ object.id }}">
              <input type="hidden" data-type="int" name="evaluator" value="{{ request.user.id }}">
              <input type="hidden" name="code" value="{{ code }}">
              <textarea
                class="form-control"
                name="message"
                required
                placeholder="Ingrese comentario"
              >{{ feedback.message }}</textarea>
            </div>
            <small class="card-footer text-muted">
              <button class="btn btn-success btn-sm" type="submit" name="button"><i class="fas fa-save"></i> Guardar nuevo</button>
            </small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
No posee permisos.
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  // createFinalIndicatorEvaluation();
  createFeedback();  
  evaluatedEvaluatorIndex();

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
