{% extends 'base.html' %}

{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block subheader %}
  <div class="subnav">
  {% include "subnav.html" %}
  </div>
{% endblock %}

{% block title %}Evaluado ({{ object.first_name }} {{ object.last_name }}){% endblock %}

{% block content %}
{% if has_profile %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'program-index' code profile %}">Programa ({{ program.name }})</a></li>
    <li class="breadcrumb-item active" aria-current="page">Curso ({{ course.name }})</li>
  </ol>
</nav>

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header text-dark bg-light"><i class="fas fa-book"></i> CURSO ({{ course.name }})</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              Indicadores Evaluados (totales {{ evaluated.total_indicators }})
                <div class="progress" style="height:20px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{ evaluated.indicator_evaluated|unlocalize }}%;height:20px"
                    aria-valuenow="{{ evaluated.indicator_evaluated|unlocalize }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  > {{ evaluated.indicator_evaluated }}%
                </div>
              </div>
            </div>
              <div class="col-md-6">
                Nivel de logro
                  <div class="progress" style="height:20px">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: {{ evaluated.half_percent|unlocalize }}%;height:20px"
                      aria-valuenow="{{ evaluated.half_percent|unlocalize }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    > {{ evaluated.str_half_percent }}%
                  </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          Profesores
          <ul>
            {% for sc in course.teachers.all %}
              <li>{{ sc.first_name }} {{ sc.last_name }} ({{ sc.email }})</li>
            {% endfor %}
          </ul>
        </li>
        <li class="list-group-item">
          Valores posibles: [{% for sc in score.values %}
              {{ sc }}
        {% endfor %}]</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header text-dark bg-light">
        <i class="fas fa-genderless"></i> INDICADORES
      </h5>
      <div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="txt-right">Nivel de logro</th>
              </tr>
            </thead>
            <tbody>
              {% for indicator in evaluated.indicator_list %}
              <tr id="indicator-{{ indicator.indicator_id }}">
                <td><strong>{{ indicator.indicator.name }}</strong><br>
                  {{ indicator.indicator.description }}
                </td>
                <td  class="txt-right">
                  <form
                    class="finalindicatorevaluation-list-update d-inline-block"
                    style="width:100%"
                    action="{% url 'finalindicatorevaluation-list' %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <input type="hidden" data-type="int" name="pk" value="{{ indicator.id }}">
                    <div class="form-group">
                      <div class="">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          {% for sc in score.values %}
                          <label class="btn btn-success btn-sm readonly{% if sc == indicator.value %} active{% endif %}">
                            <input readonly type="radio" data-type="float" {% if sc == indicator.value %}checked{% endif %} name="value" id="option{{ sc }}" autocomplete="off" value="{{ sc }}"> {{sc}}
                          </label>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              {% endfor %}
              {% for indicator in evaluated.indicator_whitout_evaluated %}
              <tr id="indicator-{{ indicator.id }}">
                <td style="max-width: 300px"><strong>{{ indicator.name }} (Pendiente de evaluación)</strong><br />
                  {{ indicator.description }}
                </td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header text-dark bg-light">
        FEEDBACK
      </h5>
      <div class="card-body">
        <div class="timeline">
          {% for feedback in feedback_list %}
          <div class="card">
            <span class="arrow-left"></span>
            <div class="card-body">
              <h6 class="card-title">{{ feedback.evaluator.first_name }} {{ feedback.evaluator.last_name }} ({{ feedback.evaluator.email }})</h6>
              {{ feedback.message }}
            </div>
            <small class="card-footer text-muted">
              <div class="d-inline-block">
                Creado: {{ feedback.created_ts|date:'Y-m-d H:i' }}
              </div> | 
              <div class="d-inline-block">
                Actualizado: {{ feedback.updated_ts|date:'Y-m-d H:i' }}
              </div>
            </small>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% else %}
No posee permisos
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  createFinalIndicatorEvaluation();
</script>
{% endblock %}
