{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block subheader %}
  <div class="subnav">
    <a class="nav-link" href="{% url 'home' %}">
      <span class="oi" data-glyph="home"></span> Home
    </a> {% include "subnav.html" %}
  </div>
{% endblock %}

{% block title %}Programa{% endblock %}

{% block content %}
{% if has_profile %}

  {% if courses|length > 0 %}
    {% if  current_profile|has_profile:'admin' %}
      {% include "core/admin_index.html" %}
    {% endif %}

    {% if  current_profile|has_profile:'teacher' %}
      {% include "core/teacher_index.html" %}
    {% endif %}

    {% if  current_profile|has_profile:'student' %}
      {% include "core/student_index.html" %}
    {% endif %}

  {% else %}
    No existen elementos
  {% endif %}

{% else %}
No posee permisos
{% endif %}


{% endblock %}
