{% extends 'base.html' %}

{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block subheader %}
  <div class="subnav">
    {% include "subnav.html" %}
  </div>
{% endblock %}

{% block title %}Curso ({{ course.name }}){% endblock %}

{% block content %}
{% if has_profile %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Competencias</li>
  </ol>
</nav>

<div class="row row-eq-height">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header txt-thin text-dark">
          <i class="fas fa-bolt"></i> TOTAL DE COMPETENCIAS EVALUADAS
        </h5>
        <div class="card-body cont-center bg-light">
            <div id="total_percent" class="c100">
                <span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <h5 class="card-header txt-thin">
        <i class="fas fa-check-circle"></i> NIVEL DE LOGRO
      </h5>
      <div id="skills" class="skills-graph"></div>
      <div class="chart-container" style="overflow-x:auto">
        <!-- <canvas
          id="skill-graph"
          width="400" height="200"
        ></canvas> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-12">
  <div class="card mb-4">
    <h5 class="card-header txt-thin">
      <i class="fas fa-bolt"></i> LISTADO DE COMPETENCIAS
    </h5>
    <div class="card-body">
      {% for skill in skill_list %}
      <div class="card mb-4" id="skill-{{ skill.object.id }}">
        <div class="card-body">
          <h6 class="card-title">
            {{ skill.object.name }}
            {% if skill.evaluated_at_least_once %}
            {% else %}
              <strong>Aun no evaluado</strong>
            {% endif %}
          </h6>
          {{ skill.object.description }}
        </div>
        <div class="card-footer px-0">
          <p class="mb-2 mx-3">INDICADORES</p>
          <div class="row mx-0">
            {% for indicator in skill.indicator_list %}
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card mb-2">
                  <div class="card-body">
                    {% if indicator.is_evaluated %}
                  <div class="c100 p{{ indicator.str_percent|floatformat:"0" }} xs">
                      <span>{{ indicator.str_percent }}%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>{{ indicator.object.name }} 
                  {% else %}
                  {{ indicator.object.name }} | Aun no se ha evaluado
                  {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% else %}
No posee permisos
{% endif %}


{% endblock %}

{% block scripts %}
<style>
  .skills-graph {
    border: 1px solid rgb(223, 223, 223);
    overflow-x: auto;
    margin: 15px;
    border-radius: 5px;
    overflow-y: hidden;
    text-align: center;
    /* background-image: repeating-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 19px, rgb(223, 223, 223) 0px, rgb(223, 223, 223) 20px); */
  }
  .skills-graph > * {
    padding: 15px 0;
    margin: 0px 15px;
  }
  .skills-graph a {
    background: #00000061;
    color: white;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<script type="text/javascript">

  var data = {{ json_skill_list|safe }};
  
  var totalPercentValue = Math.floor(data.reduce(function(temp, curr) { return temp + curr.percent}, 0) / data.length);
  var totalPercent = document.getElementById('total_percent');
  totalPercent.className = totalPercent.className + ' p' + totalPercentValue;
  totalPercent.children[0].innerText = totalPercentValue + '%';

  function startSkills(data) {
    var w = 200;
    var h = 200;
    var elm = document.getElementById('skills');
    var skillMargin = 15;

    var colorArray = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
		  '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
		  '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
		  '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
		  '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
		  '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
		  '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
		  '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
		  '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
		  '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];
    var backgroundColor = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ];
    var borderColor = [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ];
    function randArrayValue(arr) {
      var rand = arr[Math.floor(Math.random() * arr.length)];
      return rand;
    }

    elm.style.height = h + 'px';
    
    var cont = document.createElement('div');
    cont.style.width = (data.length * w + (skillMargin * (data.length - 1))) + 'px'; cont.style.height = '100%'; cont.style.display = 'inline-block';

    // create skills container
    data.forEach(function (element, index){
      var skill = document.createElement('div');
      var skillPercent = document.createElement('div');

      var containerPercentText = document.createElement('div');

      var percentText = document.createTextNode(
        (Math.floor(element.percent * 10) / 10) + '%'
      );
      
      var containerDescriptionText = document.createElement('a'); 
      containerDescriptionText.href = '#skill-' + element.object.id;
      containerDescriptionText.className = 'btn btn-link d-block w-100';
      containerDescriptionText.style.position = 'absolute'; containerDescriptionText.style.bottom = 0; containerDescriptionText.style.left = 0;

      var descriptionText = document.createTextNode(element.object.name);

      skillPercent.style.width = w + 'px'; skillPercent.style.height = element.percent + '%'; 
      skillPercent.style.position = 'absolute'; skillPercent.style.bottom = 0; skillPercent.style.left = 0;
      skillPercent.style.backgroundColor = randArrayValue(backgroundColor);
      
      skill.style.width = w + 'px'; skill.style.height = '100%'; skill.style.float = 'left'; skill.style.position = 'relative';

      if (index < data.length - 1) {
        skill.style.marginRight = skillMargin + 'px';
      }

      containerDescriptionText.appendChild(descriptionText);
      skillPercent.appendChild(containerDescriptionText);

      containerPercentText.appendChild(percentText);
      skillPercent.appendChild(containerPercentText);

      skill.appendChild(skillPercent);

      cont.appendChild(skill);
    });

    elm.appendChild(cont);
  };

  startSkills(data);

</script>
{% endblock %}
