{% load l10n %}
<!--
<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header"><i class="fas fa-book"></i> CURSOS</h5>
      <div>
        <div class="table-responsive">
          <table class="table table-hover table-sm mb-0">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="txt-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr>
                <th scope="row">
                  <a href="{% url 'evaluated-index' code profile course.course.id course.course.period_id %}">
                    {{ course.course.name }}
                  </a>
                </td>
                <td class="txt-right">
                  <a href="{% url 'evaluated-index' code profile course.course.id course.course.period_id %}" class="btn btn-light btn-sm">
                    <i class="fas fa-eye"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="row">
  <h5 class="col-12"><i class="fas fa-book"></i> CURSOS</h5>
  {% for course in courses %}
  <div class="col-md-4 col-xs-12 col-sm-6">
    <div class="card mb-4 student-card">
      <h6 class="card-header text-truncate">
          {{ course.course.name }} (sec{{ course.course.section }})
      </h6>
      <div class="card-body text-truncate">
          <strong>Prof</strong>
          {% for teacher in course.teachers %}  
            {% if forloop.last %}
            <span>{{ teacher.first_name }} {{ teacher.last_name }}</span>
            {% else %}
            <span>{{ teacher.first_name }} {{ teacher.last_name }}</span>,
            {% endif %}
          {% endfor %}
          {% if course.progress > 0%}
          <br />Progreso<br/>
          <div class="progress">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: {{ course.progress|unlocalize }}%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100">
                {{ course.progress }}%
              </div>
            </div>
          Nivel de logro<br/>
          <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{ course.achievement|unlocalize }}%"
                aria-valuenow="{{ course.achievement|unlocalize }}"
                aria-valuemin="0"
                aria-valuemax="100">
                {{ course.achievement }}%
              </div>
            </div>
          {% else %}
          <br /><br /><br /><strong>No evaluado aún</strong>
          {% endif %}
      </div>
      <div class="card-footer">
          <a href="{% url 'evaluated-index' code profile course.course.id course.course.period_id %}" class="btn btn-link btn-sm">
              <i class="fas fa-eye"></i> Ver
            </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<style>
  html, body {
    background: #f4f4f4;
  }
</style>
