{% load l10n %} 

<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header"><span class="txt-thin">CURSOS</span> DISPONIBLES PARA EVALUAR</h5>
      <div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">Curso</th>
                <th scope="col">Código</th>
                <th scope="col">Sección</th>
                <th scope="col">Progreso</th>
                <th scope="col">Logro</th>
                <th scope="col" class="txt-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr>
                <th scope="row">
                  <a href="{% url 'course-index' code profile course.course.id %}">
                    {{ course.course.name }} - sec{{ course.course.section }}
                  </a>
                </th>
                <td>{{ course.course.code }}</td>
                <td>{{ course.course.section }}</td>

                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: {{ course.progress|unlocalize }}%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100">
                      {{ course.progress }}%
                    </div>
                  </div>
                </td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: {{ course.achievement|unlocalize }}%"
                      aria-valuenow="{{ course.achievement|unlocalize }}"
                      aria-valuemin="0"
                      aria-valuemax="100">
                      {{ course.achievement }}%
                    </div>
                  </div>
                </td>

                <td class="txt-right">
                  <a href="{% url 'course-index' code profile course.course.id 0 %}" class="btn btn-success btn-sm">
                    <i class="fas fa-eye"></i> Ver
                  </a>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
