{% load l10n %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">

        <h5>
          <span class="txt-thin">CURSOS</span> DISPONIBLES PARA EVALUAR </h5>
      </div>
      <div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">Curso</th>
                <th scope="col">Secc.</th>
                <th scope="col">Código</th>
                <th scope="col">Progreso</th>
                <th scope="col">Logro</th>
                <th scope="col" class="txt-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr scope="row">

                <th><a href="{% url 'course-index' code profile course.course.id %}" title="Evaluar curso {{ course.course.code }} (ID:{{ course.course.id }})">
                    {{ course.course.name }}
                  </a>
                </th>

                <td>{{ course.course.section }}</td>
                
                <td>{{ course.course.code }}-{{ course.course.section }}</td>
               
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: {{ course.students.total_half_percent|unlocalize }}%"
                      aria-valuenow="{{ course.students.total_half_percent|unlocalize }}"
                      aria-valuemin="0"
                      aria-valuemax="100">
                      {{ course.students.str_total_half_percent }}%
                    </div>
                  </div>
                </td>
                
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: {{ course.students.total_half_percent|unlocalize }}%"
                      aria-valuenow="{{ course.students.total_half_percent|unlocalize }}"
                      aria-valuemin="0"
                      aria-valuemax="100">
                      {{ course.students.str_total_half_percent }}%
                    </div>
                  </div>
                </td>

                <td class="txt-right">
                  <a href="{% url 'course-index' code profile course.course.id %}" class="btn btn-success btn-sm">
                    <i class="fas fa-tasks"></i> Evaluar
                  </a>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
